[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pylint = "*"
isort = "*"
black = "*"
typing = "*"
pytest = "*"
spacy = "*"
openai = "*"
pandas = "*"
scikit-learn = "*"
tqdm = "*"
flask = "*"
typer = "*"
requests = "*"
fastapi = "*"
python-dotenv = "*"
python-multipart = "*"
dateparser = "*"
boto3 = "*"

[dev-packages]
